absolute()
  position absolute
  top 0
  left 0 
  right 0
  width 100px
  height 100px
  border-radius 100%
.anime-wrapper
  display inline-block
  margin 0 auto
  text-align center
  position relative
  .blue
    absolute()
    background blue
  .green
    absolute()
    background lime
  .red
    absolute()
    background red